# Ẩn môi trường ảo
.venv/
venv/
env/
# Ẩn các file rác phát sinh khi chạy Python
__pycache__/
# __init__.py
tempCodeRunnerFile.py
data/
models/
results/
cache/
*.graphml
*.dbf
*.keras
*.h5
*.pkl
".venv/" 
"__pycache__/" 
"*.log" 
".idea/" 
"scheduler.log" 
"Get-ChildItem" 
"mvnw.cmd" 
"package-lock.json" 
