geopandas
rasterio
shapely
requests
pyyaml
torch
segmentation-models-pytorch
opencv-python
psycopg2-binary
sqlalchemy
geoalchemy2
earthengine-api
scikit-learn==1.8.0
sklearn-compat==0.1.5
joblib==1.5.3
geopandas
requests
pandas
numpy
tensorflow==2.20.0
keras==3.13.2
osmnx 
networkx 
matplotlib
momepy
lxml
folium
seaborn
scipy
imbalanced-learn
schedule
flask-cors
flask
uvicorn
fastapi
pydantic
