geopandas
rasterio
shapely
requests
pyyaml
torch
segmentation-models-pytorch
opencv-python
psycopg2-binary
sqlalchemy
geoalchemy2
earthengine-api
scikit-learn
joblib
geopandas
requests
pandas
numpy
tensorflow 
osmnx 
networkx 
matplotlib
momepy
lxml
folium
Sequential
LSTM
seaborn
scipy
imbalanced-learn
schedule
flask-cors
flask
uvicorn
fastapi
pydantic